* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px calc(100vh - 48px - 93.6px) 93.6px;
      grid-template-rows: 48px calc(100vh - 48px - 93.6px) 93.6px;
  font-family: sans-serif;
}

body a {
  text-decoration: none;
}

body li {
  list-style-type: none;
  display: inline;
}

body .navBar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  padding: 1em;
  height: 48px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

body .navBar ul li {
  margin: 7px;
  position: relative;
}

body .navBar ul .right {
  margin-right: 25px;
}

body .navBar ul a {
  color: black;
}

body .navBar ul a button {
  margin-left: 10px;
  cursor: pointer;
  background-color: #5656ff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 96px;
  height: 36px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

body .navBar ul img {
  position: absolute;
  top: -4px;
  left: -20px;
  height: 24px;
  opacity: 0.65;
}

body section {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body section img {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

body section form #searchBox {
  border: #bebebe solid 1px;
  padding: 5px;
  border-radius: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% - 16.8px - 10px) 16.8px;
      grid-template-columns: calc(100% - 16.8px - 10px) 16.8px;
  margin-bottom: 10px;
  height: 44px;
  position: relative;
}

body section form #searchBox label {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  height: 40px;
}

body section form #searchBox label img {
  height: 20px;
  opacity: 0.4;
  position: absolute;
  top: 11px;
  left: 10px;
}

body section form #searchBox label input {
  border: none;
  width: calc(100% - 40.8px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: auto;
  height: 32px;
  width: calc(100% - 80px);
  position: absolute;
  left: 40px;
}

body section form #searchBox #voiceSearch {
  height: 24px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  position: absolute;
  top: 3px;
}

body section form .button {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

body section form .button button {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  height: 36px;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #313131;
}

body section form .button #b1 {
  justify-self: flex-end;
}

body section form .button #b2 {
  justify-self: flex-start;
}

body section ul {
  font-size: 13px;
  margin-top: 10px;
}

body section ul li {
  padding: 5px;
}

body section ul li a {
  color: #0000b3;
}

body footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  background-color: #f3f2f2;
  color: #757575;
}

body footer div {
  height: 46.8px;
  padding: 1em;
}

body footer #f1 {
  border-bottom: solid #d4d3d3 1px;
  font-size: 15px;
}

body footer #f2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

body footer #f2 ul li {
  padding: 15px;
}

body footer #f2 ul li a {
  color: #757575;
}
/*# sourceMappingURL=style.css.map */